.keyboard {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    margin: 0 auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__button {
    position: relative;
    text-transform: uppercase;
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: 50px;
    background-color: transparent;
    overflow: visible;
    &_unguessed {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-35%) translateY(-50%);
        width: 50px;
        height: 44px;
        background-image: url('./img/unguessed.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &_guessed {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-35%) translateY(-50%);
        width: 30px;
        height: 49px;
        background-image: url('./img/guessed.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &:focus {
      outline: none;
    }
  }
}