body {
  margin: 0;
  font-family: 'Caveat';
  color: #3a3e76;
  
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
  background-size: 15px 15px;
  background-position: center center;
}